
.switch-item{
  padding: 0.1rem;
  background-color: silver;
  border-radius: 20px;
  height: 20px;
  min-width: 45px;
  position: relative;
  align-self: center;
}

.switch-pin{
    position:absolute;
    background-color: rgb(228, 228, 228);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left:5px;
    top: 5px;
    display: flex;

}

.switch-pin img{
  text-align: center;
  align-items: center;
  
}