
.search-item{
width:200px;
padding: 0.2rem;
background-color:#F5F5F5;
color: #7C7C7A;
margin-bottom: 2.5rem;
}

.search-input{
/* max-width:200px; */
background-color: #F5F5F5;
width:200px;
color: #7C7C7A;
padding: 0.2rem;
border: none;
}

.img{
/* align-content: center; */
align-items: center;
padding:0.2rem;
display: flex;
justify-content: space-between;

}
.img >img{
    padding: 0.2rem;

}

