body{
    margin: 0;
    overflow-X: hidden;
}


.start{ 
   display: flex;
    justify-content: right;
}

.round{
width: 50px;    
/* will-change:transform;
transform: translateX(0px);
transition: transform linear 0.5s; */

}

.main-menu{
height: 100vh;
/* width: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
 
.round:hover{
    width: 250px;
    /* will-change:transform; */
/* transform: translateX(-200px);
transition: transform linear 0.5s; */
}

/* 
.start :hover{
transform: translateX(-100px);
transition: transform linear 0.5s;
} */

.darkmode-item{
    /* width:200px; */
/* padding: 0.2remm;
margin-bottom: 0.8rem; */
    display: flex;
   
   
}