  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;500;600;700&display=swap');


.logo{
    display: flex;
    height:50px;
    width:20px;
    color: white;
    background: #4A49CB;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 0 1rem;
}


.menu-header{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.menu-name{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222133;
}

.menu-name > span{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #7C7C7A;
}