
.menu-item{
width:200px;
padding: 0.2rem;
margin-bottom: 0.8rem;

}

.item-img{
align-items: center;
padding:0.2rem;
display: flex;
/* justify-content:space-between; */
}

.item-img >img{
    padding: 0.2rem;
color: #7C7C7A;
}

.item-txt {
    padding: 0 1.5rem;
    text-align: left;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #7C7C7A;
}

a{
    cursor: pointer;
    text-decoration: none;
}